html {
    background-color: rgb(92, 12, 92);
    color: rgb(224, 224, 224);
    background-image: url("../images/bgimg.png");
    background-size: cover;
}


#Title {
    border: 3px solid black;
    background-color: rgba(153, 36, 182, 0.589);
    text-align: center;
    font-weight: bolder;
    font-family: 'Permanent Marker', cursive;
}


#Title h1 {
    font-size: 44px;
}


#Title p {
    font-size: 30px;
}


#Scoreboard {
    border: 3px solid black;
    background-color: rgba(153, 36, 182, 0.589);
    text-align: center;
    font-weight: bold;
    float: left;
    padding: 50px;
    margin: 15px;
    height: 60%;
    width: 40%;
    font-size: 24px;
    position: sticky;
    font-family: 'Permanent Marker', cursive;
}


.img-responsive {
    border: 2px solid black;
    height: 400px;
    width: 575px;
    margin: 50px;
    float: left;
    
}